

@import url('https://fonts.googleapis.com/css2?family=Kablammo&family=Press+Start+2P&display=swap');

/* Layout */
body{
    background-color: #9264c7;
}
.columer{
    display: flex;
    gap: 20px;
}
.kontainer{
    font-family: "Press Start 2P", serif;
    width: 800px;
    margin: auto;
    padding: 40px;
    background-color: #e3dbf1;
}
.box{
    background-color: #fff;
    color: #9264c7;
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    gap: 20px;
    border-radius: 10px;
}

/* headers */
h1{
    font-family: "Kablammo", system-ui;
    font-size: 60px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h2{
    margin-bottom: 20px;
}

/* contents */
img{
    width: 30%;
    border-radius: 10px;
    border: 5px solid greenyellow;
}
p{

}
.quartz
{

}
a{

}
