body{
background-image: url("./bilder/museums-victoria-CzsHs8A87Y0-unsplash.jpg");
background-size: cover;
background-repeat: no-repeat;
background-attachment: fixed;
}
h1{
    font-family: "Jacquarda Bastarda 9", serif;
    font-size: 70px;
    color: crimson;
    text-shadow: 4px 4px 0px #2e0202;
    margin-left: 250px;
    margin-top: 80px;
}
img{
    width: 707px;
    margin-left: 250px;
    border:4px dashed rgba(254, 45, 45, 0.71);
    margin-bottom: 15px;
}
p{
    font-family: "Sofadi One", system-ui;
    margin-left: 275px;
    max-width: 600px;
    background-color: rgba(252, 104, 104, 0.792);
    padding-left: 20px;
    padding-top: 15px;
    padding-right: 20px;
    padding-bottom: 10px;
    border: 2px solid #b70909;
    border-radius: 7px;
}
a{
    font-family: "Jacquarda Bastarda 9", serif;
    margin-left: 425px;
    font-size: 40px;
    background-color: rgba(0, 255, 255, 0.568);
    border: 2px dotted blue;
    border-radius: 7px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    color:palegoldenrod;
    margin-top: 50px;
    margin-bottom: 20px;
}




/*@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');


body {
    background-image: url("./bilder/wim-van-t-einde-_rm0DueNGfE-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    text-transform: uppercase;
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 100px;
    color: #fff;
    text-shadow: 7px 7px 2px #940000;
    margin-top: 70px;
}

h2 {
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 60px;
    color: #fff;
    text-shadow: 60px 5px 10px #ff00bb;
    margin-top: 60px;
}

p {
    font-family: "Protest Guerrilla", sans-serif;
    font-size: 40px;
    margin-top: 150px;
    margin-left: 950px;
}

a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgba(255, 0, 0, 0.648);
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 50px;
    border: 2px solid #670a0a;
    border-radius: 7px;
}*/